/* MRG

Variablen werden in abstracts/* verwendet


*/

//  Farben
// https://scotch.io/tutorials/aesthetic-sass-2-colors

$mycolors: (
  'primaer'     : rgb(1, 41, 131), 
  'akzent'      : #fd543c,
  'sekundaer'   : hsla(173,99,67,0.5),
  'vordergrund' : #191919,
  'hintergrund' : #ff4700
);

// Schriftfarben. Vornehmlich mit etwas Transparenz
$color-dark   : rgba(0, 0, 0, 0.8);
$color-dark2   : rgba(0, 0, 0, 0.4);
$color-light  : rgba(255, 255, 255, 0.8);
$color-light2  : rgba(255, 255, 255, 0.4);

