header[role=banner]{
  border-bottom: 1px solid black;
  @include abst_padding;
  background-color: rgba(255,255,255, 1);
  
    h1, p, a, a:visited{
      color: rgba(0,0,0, 0.7);
  }
  .banpageinfo p{
    @include type-setting(1);
  }
  
  .bannavi{
    @include type-setting(0);
  }
  
  ul{
    margin-top: $abst_o;
  }
  
  li{
    line-height: 1em;
    display: inline-block;
    border-bottom: 5px solid transparent !important;
    transition: border-bottom-color 0.5s ease-in-out;
    &.active{
      border-bottom-color: #00728f  !important;
    }
    &:hover {
      border-bottom-color: rgba(0, 114, 143, 0.5)  !important;
      a{
        color: #00728f;
      }
    }
    
     li a{
      @include type-setting(-1);
      padding: 0;
    }
    
    ul{
      margin-top: 0;
    }
  }
  
  .menu-float{
    line-height: $base-line-height * 4;
  }
}


//main
.wrapper{
  padding-top: $abst_o;
}

// Container ff.
article{
//  background-color: #E9E9E9;
  background-color: white;
  
  header{
    .subline{
      @include type-setting(0);
    }
    h1{
      @include type-setting(3);
    }
  }

  
  .content{
    .textarea{
    }
    flex-grow: 2;
    
  }
  
  img{
    margin-bottom: $abst_u;
  }
}