/* Abstraktion: 
ganzes Banner oben, inkl. Navigation
Hier nur die Funktion, das Aussehen wird unter theme/banner gestylt
Menu als Navigationsarea; kann mittels JS aus- und eingeblendet werden

18.03.2017 MRG alle 3 Bannertypen verträglich machen
19.12.2016 MRG seitliche Navigation
27.10.2016 MRG Fassung für gspi
19.10.2016 MRG Layout und Funktion getrennt
17.03.2016 MRG
21.08.2015 MRG

*/
.menu, .address, .mail .sliding-panel-button{
  cursor: pointer;
}



// Banner und Navigation oben
header[role=banner]{
//  top: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;

  h1{
    padding:0;
    margin:0;
  }

  .banlogo{
    flex-shrink: 1;
  }
  a{
    text-decoration: none
  }

  // drei Icons (Menu, Tel und Mail)
  .bannavi{
    display: flex;
    flex-direction: row;
    div{
      margin: 0 $abst_r*2 0 0;
    }
  }  
}




