// Regeln zum entwickeln

div, header{
  border: 1px solid red;
}

article{
  background-color: aquamarine;
}

.navareas, .banlogo, .bannavi{
  background-color: blueviolet;
//  height: 50px;
}