$duration: 20s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.con_ticker.normal,
.con_ticker.accent,
{
  
  .ticker-wrap {
    overflow: hidden;
  }

  .ticker {
  display: inline-block; 
  white-space: nowrap; // display items in a line
  padding-left: 100%;  // offset items to begin 

  -webkit-animation-iteration-count: infinite; 
    animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  -webkit-animation-name: ticker;
   animation-name: ticker;
  -webkit-animation-duration: $duration;
    animation-duration: $duration;

    p {

      display: inline-block;
    }
  }
}
.con_ticker.static{
  text-align: center;
}


